.body {
  font-family: Arial, sans-serif;
  background-image: url("https://imgpile.com/images/67c90eaf9604057f0f9c0e52ffeb119c.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

.ForgotPassword-container {
  width: 500px !important;
  max-width: 500px !important;
  margin: 50px auto;
  background-color: rgba(216, 212, 206, 0.925);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 130px;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.resetBtn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  display: block;
  margin-bottom: 10px;
}

.resetBtn:hover {
  background-color: #45a049;
}
