html body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.body {
  font-family: Arial, sans-serif;
  background-image: url("https://imgpile.com/images/67c90eaf9604057f0f9c0e52ffeb119c.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
p {
  text-align: left;
  font-size: -60;
  margin-top: 10px;
}

.text {
  font-size: 1.2em;
  color: #333;
  justify-content: center;
  text-align: center;
}

.register-success-container {
  position: absolute;
  top: 150px;
  width: 500px !important;
  max-width: 500px !important;
  margin: 20px auto;
  background-color: rgba(216, 212, 206, 0.781);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 75vh;
  margin-top: 45px;
}

.container {
  width: 700px !important;
  max-width: 700px !important;
  /* margin: 20px auto; */
  background-color: rgba(216, 212, 206, 0.781);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 75vh;
  margin-bottom: 70px;
}
h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: block;
  margin-top: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 10px;
  transform: scale(0.75);
  font-size: -40%;
}

.radio-label {
  font-size: 20px;
}
.input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.error-border {
  border: 1px solid red !important;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
  text-align: left;
}

.radio-group input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0;
  transform: scale(0.75);
}

.radio-group label {
  margin-left: 4px;
  font-size: 16px;
}

input[type="radio"] {
  margin-top: 10px;
  transform: scale(0.75);
}

label {
  font-size: 1.1em;
  margin-bottom: 3px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  gap: 30px;
}

input.error,
select.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.register-btn:hover {
  background-color: #45a049;
}

.switch-form {
  text-align: center;
  margin-top: 20px;
}

.switch-form a {
  color: #333;
  text-decoration: none;
}
.home-form {
  text-align: center;
  margin-top: 20px;
}

.home-form a {
  text-decoration: none;
}

.switch-form a:hover {
  text-decoration: underline;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}
.login-text {
  font-size: 1em;
  color: #333;
  justify-content: center;
  text-align: center;
}

.success-box {
  background: #e6fffa;
  color: #065f46;
  border: 1px solid #10b981;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form-group {
    width: 100%;
  }
}
